<form id='logon-form'>
    <fieldset>
        <legend>
            Enter your username and password to logon.
        </legend>
        <label for='logon-username'>
            Username
        </label>
        <input id='logon-username' type='text'>
        <label for='logon-password'>
            Password
        </label>
        <input id='logon-password' type='password'>
        <input type='submit'>
    </fieldset>
</form>

<script src="./js/logon.js"></script>