<form id='post-article-form'>
    <fieldset>
        <legend>
            Complete the fields below to post an article.
        </legend>
        <label for='post-article-title'>
            Title
        </label>
        <input id='post-article-title'>
        <label for='post-article-content'>
            Content
        </label>
        <textarea id='post-article-content'></textarea>
        <input type='submit'>
    </fieldset>
</form>
<script type='text/javascript' src='./js/articles.js'></script>