body {
    background-color: #ffa2a6;
}

.header-nav {
    background-color: #805456;
    padding: .1rem;
}

.header-nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
    color: white;
}

.header-nav-menu-links {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 0.5rem;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #8daa94;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 2px #805456;
    margin: 0;
    text-align: center;
}